Source: ros-eloquent-ament-cpplint
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-eloquent-ament-copyright, ros-eloquent-ament-flake8, ros-eloquent-ament-pep257, ros-eloquent-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-ament-cpplint
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-eloquent-ros-workspace
Description: The ability to check code against the Google style conventions using cpplint and generate xUnit test result files.
