Source: ros-eloquent-ament-cppcheck
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-ament-cppcheck
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, cppcheck, ros-eloquent-ros-workspace
Description: The ability to perform static code analysis on C/C++ code using Cppcheck and generate xUnit test result files.
